body{
    background-color: bisque;
}
.nav-bar{
    background-color: rgb(162, 162, 153) !important;
}
.liste-bar{
    margin-left: 70%;
}
.hero{
    margin: 5% 25% !important;
    width: 700px;
}
.hero h5{
    color: black;
    font-size: 40px;
    margin-top: 30%;
    margin-left: 30%;
}
.hero button{
    margin-left: 50%;
}
.card-img{
   
    width: 700px !important;
}
.plats-froid{
    
    
    margin: 2% ;
    
}
.plats-froid img{
    height: 40% !important;
}
h1{
    text-align: center;
    font-size: 70px;
    margin-top: 2%;
    
}
.about{
    margin: 2% 20%;
}
.about img{
    width: 400px;
}
.contact{
    margin: 10%;
    width: 900px;
    margin-left: 15%;
}

.Plats-Principaux{
    margin: 2% !important;
}
.dessert{
    
  
    margin: 2% ;

    
}
.dessert img{
    height: 40% !important;
}
.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer p {
    margin: 0;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #1da1f2; /* couleur personnalisée au survol */
  }
  